/*******************************/
/**        AGE Tracker        **/
/*******************************/

#age-tracker {
    position: fixed;
    height: auto;
    width: 100svw;
    bottom: 150px;
    a {
        padding-top: 4px;
        text-shadow: none;
    }
    div.age-serendipity {
        column-gap: 4px;
        max-width: max-content;
        border-radius: 10px;
        padding: 4px;
        a {
            margin-top: 2px;
            margin-left: 8px;
            margin-right: 8px;
        }
        .inactive {
            opacity: 0.3;
        }
    }

    .age-comp {
        margin-top: 8px;
        a {
            flex: 0 0 16px;
            i {
                width: 16px;
                height: 16px;
            }
        }
        padding-left: 4px;
        padding-right: 4px;
        border-radius: 5px;
        flex-wrap: nowrap;
        max-width: max-content;
        .comp-checkbox {
            flex: 0 0 auto;
            margin: auto 2px auto 2px;
            border-radius: 50%;
            height: 10px;
            width: 10px;
            background: none;
            border: 1px solid;
            background-color: #ffffff;
        };
        .milestone.milestone {
            height: 16px;
            width: 16px;
            cursor: pointer;
        }
    }
}