@import "./item-sheet.less";
@import "./char-sheet.less";
@import "./vehicle-sheet.less";
@import "./age-roll-sheet.less";
@import "./colorsets.less";

// Avoid text on context-menu from wrapping
#context-menu {
    li {
        white-space: nowrap;
        text-align: left;
    };
}

// Age Roller, to roll 3d6, close to hotbar
#age-roller {
    /*border: 5px solid rgb(255, 123, 0);*/
    position: fixed;
    bottom: 10px;
    // left: 880px;
    left: 800px;
    width: 52px;
    height: 52px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    display: inline-block;
}


/*---------Flexbox assisting classes------*/
.age-system {
    .flexcol {
        display: flex;
        flex-direction: column;
    };

    .flexrow {
        display: flex;
        flex-direction: row;
    };

    .no-flexwrap {
        flex-wrap: nowrap;
    };

    .flexwrap {
        flex-wrap: wrap;
    }

    .flex-align-center {
        align-items: center;
    };

    .flex-align-end {
        align-items: flex-end;
    };

    .flex-align-start {
        align-items: flex-start;
    };

    .flex-justify-center {
        justify-content: center;
    };

    .flex-justify-start {
        justify-content: flex-start;
    };

    .flex-justify-between {
        justify-content: space-between;
    };

    .flex-justify-around {
        justify-content: space-around;
    };

    .flex-justify-evenly {
        justify-content: space-evenly;
    };
};
/*---------------------------------*/