#age-tracker {
    position: fixed;
    bottom: 80px;
    left: 400px;
    width: 200px;
    height: 52px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    display: inline-block;
    z-index: 99;
    opacity: 0.8;
    a {
        padding-top: 4px;
    }
}