.age-system.sheet .window-content {
    // background: none;
    background-color: #d1b7ab;
}

.age-system.sheet.char {
    font-variant: small-caps;

    .resource-box {
        display: flex;
        flex-direction: column;
    }

    .age-header {
        margin-bottom: 4px;
        label {
            background-color: @modern-blue;
            color: white;
            white-space: nowrap;
            max-width: fit-content;
            padding: 4px;
            flex: 1 min-content fit-content;
        }
    }

    #char-features {
        resize: none;
    }

    .grid-resp {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px, 140px));
        row-gap: 4px;
        margin-bottom: 4px;
    }

    .general-stats {
        text-align: center;
        margin-bottom: 4px;

        input[type="number"] {
            max-height: 26px;
        }

        > div {
            margin-bottom: 4px;
        }

        .top-row {
            margin-bottom: 2px;
        }

        .main-value {
           font-size: 20px;
        }

        .stat-modifiers {
            padding-left: 2px;
            padding-right: 2px;

            div {
                font-size: 14px;
            }

            label {
                margin-left: 2px;
                text-align: left;
            }

            input[type="number"] {
                max-width: 25px;
                min-width: 25px;
                height: 16px;
            }

            input[number-type="five-digits"] {
                max-width: 50px;
                min-width: 50px;
                height: 16px;
            }
        }
    }

    .general-aid-bar {
        padding: 4px;
        margin-bottom: 4px;
        text-align: center;
        
        > div {
            margin-left: 2px;
        }

        label {
            padding-left: 2px;
            margin-right: 4px;
            max-height: 19px;
            white-space: nowrap;
        }
    
        input[type="number"] {
            margin: 0px;
            max-width: 25px;
            min-width: 25px;
            max-height: 16px;
            text-align: center;
        }

        input[type="checkbox"] {
            margin: 0px;
            margin-top: 1px;
            width: 16px;
            height: 16px;
        }
    }

    .col-1 {
        max-width: 200px;
        .ability-box:last-of-type {
            border-bottom: solid black 1px;
        }
        .ability-box {
            border: solid black 1px;
            border-bottom: none;
            .abl-header {
                align-items: center;

                .abl-name {
                    padding-left: 4px;
                    min-width: fit-content;
                    height: max-content;
                    flex-grow: 3;
                }
                .last-up {
                    height: 1em;
                    justify-self: end;
                }
            }
            input[type="number"].abl-value {
                border-radius: 0%;
                border: none;
                border-left: 1px solid black;
                border-bottom: 1px solid black;
                height: max-content;
                width: 23px;
                max-width: 23px;
                text-align: center;
                font-size: 15px;
            }
            .owned-focus {
                padding: 4px;
                min-height: 2em;
                width: 100%;
                flex-wrap: wrap;
                align-items: flex-start;
                justify-content: stretch;

                .improved-focus {
                    text-decoration: underline;
                }

                .item-name {
                    font-size: 14px;
                    border-radius: 5px;
                    margin: 2px;
                    vertical-align: middle;
                    text-align: center;
                }
            }
        }
    }

    .col-2 {
        margin-left: 4px;
        label {
            background-color: @modern-blue;
            color: white;
            white-space: nowrap;
            padding: 4px;
        }
    }
    
    .item-control {
        max-width: fit-content;
    }

    .fill-card {
        max-width: fit-content;
    }
    .item-container {
        flex-wrap: wrap;
        resize: vertical;
        overflow: auto;
        justify-content: center;
        margin-bottom: 4px;
        .item-box {
            min-width: 150px;
            max-height: 41px;
            border-radius: 5px;
            padding: 4px;
            margin: 2px 4px 2px 4px;
            align-items: center;

            a {
                margin-left: 2px;
            }
        }

        .actor-items {
            justify-content: stretch;
        }
        
        .item-name {
            align-items: center;
            img {
                max-width: 20px;
                max-height: 20px;
            }
            a {
                padding-left: 2px;
            }
        }
    }

    .top-row {
        height: 20px;
        max-height: 20px;
        text-align: center;
        margin: 0;
        padding-top: 2px;
        padding-bottom: 2px;
    }

}