@modern-blue: #007DAD;
@circle-main: #e8dfce;
@circle-small: #e8dfce;

.age-system.sheet.char {
    body {
        background-color: #e8dfce;
    }

    .window-app {
        width: 600px;
        height: 400px;
    }

    .resource-box {
        display: flex;
        flex-direction: column;
    }

    .inline-elements {
        display: flex;
    }

    .grid-resp {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px, 140px));
        row-gap: 5px;
    }

    .flexcol {
        display: flex;
        flex-direction: column;
    }

    form {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }

    .col-1 {
        .attribute-box {
            display: grid;
            grid-template-columns: 3fr 3em;
            grid-template-rows: auto auto;
            border: solid black 1px;
            .att-header {
                display: grid;
                grid-template-columns: repeat(2, auto);
                background-color: @modern-blue;
                .att-name {
                    grid-column: 1 / span 1;
                    min-width: fit-content;
                    height: max-content;
                    color: white;
                }
                .last-up {
                    grid-column: 2 / span 1;
                    height: 1em;
                    justify-self: end;
                }
            }
            .att-value {
                grid-column: 2 / span 1;
                grid-row: 1 / span 2;
                border: solid green 1px;
                height: 100%;
                text-align: center;
            }
            .attribute-focus {
                grid-column: 1 / span 1;
                grid-row: 2 / span 1;
                height: 2em;
                width: 100%;
            }
        }
    }

    .stats-block {
        border: 0;
        border-spacing: 0;

        .top-row {
            height: 20px;
            max-height: 20px;
            text-align: center;
            background-color: #007dad;
            color: white;
            margin: 0;
            padding-top: 2px;
            padding-bottom: 2px;
        }

        .circle-main-container {
            position: relative;
            width: 66px;
            padding: 4px;
            text-align: center;
            place-self: center;

            .small-circle-label {
                font-size: 10px;
                width: 40px;
                text-align: left;
            }
        }
 
        .circle-main.flexcol {
            font-size: 20px;
            line-height: 30px;          
        }

        .circle-main {
            height: 64px;
            width: 64px;
            border-radius: 50%;
            text-align: center;
            line-height: 64px;
            font-size: 28px;
            background-color: whitesmoke;
            border: solid black 1px;
            margin: 0;
            padding: 0;
        }

        .circle-small {
            height: 16px;
            width: 16px;
            min-width: 16px;
            border-radius: 50%;
            font-size: 11px;
            color: black;
            padding: 0;
            border: solid black 1px;
            background-color: @circle-small;
        }

        .circle-small-bottom {
            position: absolute;
            top: 52px;
            left: 52px;
        }
        .bottom-label {
            position: absolute;
            top: 53.5px;
            left: 72px;
        }

        .circle-small-mid {
            position: absolute;
            top: 28px;
            left: 59px;
        }
        .mid-label {
            position: absolute;
            top: 31px;
            left: 80px;
        }

        .circle-small-top {
            position: absolute;
            top: 4px;
            left: 52px;
        }
        .top-label {
            position: absolute;
            top: 7px;
            left: 72px;
        }

        .bottom-row  {
            display: flex;
            place-content: center;
            height: 20px;
            min-height: 20px;
            text-align: center;
            background-color: #007dad;
            color: white;
            margin: 0;
            padding-top: 2px;
            padding-bottom: 2px;
            span {
                width: min-content;
                padding-right: 4px;
            }
        }

        .bottom-input {
            height: 18px;
            width: 40px;
            font-size: 11px;
            color: black;
            padding: 0;
            border: solid black 1px;
            background-color: @circle-small;            
        }

    }

}