.age-system.sheet.item {
    form {
        display: flex;
        flex-direction: column;
    }
    .sheet-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        .editor {
            height: 100%;
        }
    }

    .flexcol {
        display: flex;
        flex-direction: column;
    }

    .grid-resp {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(140px, 200px));
        row-gap: 5px;
        column-gap: 5px;
        > div {
            width: min-content;
        }
    }
}