/*******************************/
/**        Item Sheet         **/
/*******************************/

// General
.age-system.sheet.item {
    // .abl-focus-box {
    //     border-bottom: 1px groove;
    // }
    .item-name {
        // font-variant: small-caps;
        font-size: 1.4rem;
        padding-left: 6px;
        text-align: left;
        margin-bottom: 0.2rem;
        // text-shadow: 1px 1px whitesmoke;
    }
    .item-summary {
        // border: 1px solid;
        // border-radius: 5px;
        font-size: .7rem;
        margin-left: .2rem;
        margin-bottom: auto;
        flex: 0 0 fit-content;
        height: fit-content;
        select,
        input {
            font-size: .7rem !important;
        }
        li {
            * {
                height: .9rem;
                text-align: center;
            }
            >* {
                width: -webkit-fill-available;
            }
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            margin-bottom: .1rem;
            width: 12rem;
            label {
                flex: 0 0 5rem;
                text-align: left;
                padding-left: 4px;
                // font-size: .8rem;
            }
        }
    }
    .editor.editor {
        text-align: left;
        // height: auto !important;
        min-height: 175px;
        max-height: 175px;
        padding: 4px;
        border-radius: 10px;
        .tox.tox-tinymce {
            min-height: 140px !important;
            max-height: 390px !important;
        }
    }
    .page-ref {
        max-width: 100px;
        height: .9rem;
    }
    .card-title {
        border-radius: 10px 10px 0 0;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        height: 1.5rem;
        line-height: 1.8;
    }
    img.img-change {
        flex: 0 0 4rem;
        height: 4rem;
        margin: auto 0;
    }
    .item-box {
        padding: 0.2rem;
        row-gap: 0.2rem;
        column-gap: 0.2rem;
    };
    select[name="data.useAbl"] {
        max-width: fit-content;
    };
    input[name="data.useFocus"] {
        min-width: 10rem;
    };
    .header-input {
        text-align: center;
        border-radius: 5px;
        border-bottom: 1px solid;
        min-height: 1.2rem !important;
        font-size: .9rem;
        height: .9rem;
    }
    .label-under {
        font-variant: all-petite-caps;
        font-size: .8rem;
        text-align: center;
    }
    .minimum-length {
        flex: 0 0 fit-content;
    }
};