.age-system.item {
    font-variant: small-caps;

    body {
        input {
            text-align: center;
        };
    };

    .damage-dice-field {
        flex-wrap: nowrap;
        margin: auto;
        vertical-align: middle;

        .dice-size {
            max-width: 50px;
            height: 26px;
        };

        input {
            max-width: 30px;
        };

        span {
            height: 26px;
            padding-top: 4px;
        };
    };

    .sheet-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        .editor {
            height: 100%;
        };
    };

    .fill-card {
        text-align: left;
        width: fit-content;
        i.fas {
            margin-left: 2px;
        };
    };

    .focus,
    .power,
    .talent,
    .weapon,
    .equipment,
    .stunts,
    .honorifics,
    .relationship,
    .membership {

        img {
            min-height: 60px;
            max-width: 60px;
            object-fit: contain;
            margin-right: 4px;
        }

        .power-type-control {
            display: grid;
            grid-template-columns: 20px 20px;
            grid-template-rows: 30px 30px;
            grid-template-areas:
                "damage heal"
                "resist fatigue";
            .toggle-damage {
                grid-area: damage;
                justify-self: stretch;
            }
            .toggle-healing {
                grid-area: heal;
                justify-self: stretch;
            }
            .toggle-resist {
                grid-area: resist;
                justify-self: stretch;
            }
            .toggle-fatigue {
                grid-area: fatigue;
                justify-self: stretch;
            }
        }

        input[name="data.shortDesc"].long-text {
            max-width: 100%;
            width: 100%;
        }

        .damage-formula {
            p.in-chat-text {
                white-space: nowrap;
            }
        }
        p.in-chat-text {
            margin: 0px;
        }

        section.sheet-tab-section {
            height: 100%;
            border-radius: 0px 0px 10px 10px;
        }

        .item-card-title {           
            border-radius: 10px 10px 0px 0px;
            text-transform: uppercase;
            border: none;
            padding: 4px;
        };

        input[name="name"] {
            padding-left: 10px;
            min-width: 100%;
        };

        label {
            font-variant-caps: small-caps;
            font-weight: 500;
            border: none;
            margin-right: 4px;
            max-width: fit-content;
            white-space: nowrap;
        };

        .flexcol {
            >label {
                margin-right: 0px;
            }
            >input {
                text-align: center;
            }
            div.item-card-stats.active-mod-container {
                padding-top: 0px;
            }
        }

        .item-card-stats {
            flex-wrap: wrap;
            padding: 10px;
            padding-bottom: 6px;

            a.not-equiped {
                opacity: 0.3;
            }

            > * {
                margin-bottom: 4px;
                margin-left: 1px;
                margin-right: 1px;
            };
            
            select[name="data.testAbl"],
            select[name="data.useAbl"],
            select[name="data.itemForceAbl"] {
                text-align: center;
            }

            input[name="data.useFocus"],
            input[name="data.testFocus"] {
                min-width: 140px;
                max-width: 250px;
                text-align: center;
            };
            
            input[name="data.cost"] {
                max-width: 60px;
                min-width: 60px;
                text-align: center;
            }

            input[type="checkbox"] {
                margin: 0px;
                margin-top: 1px;
                width: 16px;
                height: 16px;
            }

            input[name="data.targetNumber"],
            input[name="data.powerPointCost"],
            input[name="data.fatigueTN"],
            input[name="data.minStr"],
            input[name="data.weight"],
            input[name="data.range"],
            input[name="data.rangeMax"],
            input[name="data.capacity"],
            input[name="data.quantity"],
            input[name="data.stuntPoints"],
            input[name="data.initialValue"],
            input[name="data.extraValue"],
            input[name="data.nrDice"],
            input[name="data.intensity"],
            input[name="data.rank"] {
                max-width: 30px;
                min-width: 30px;
                text-align: center;
            };

            span:last-of-type {
                max-width: 25px;
                text-align: center;
            };

            div.power-type-control {
                a {
                    margin-top: 30%;
                    margin-bottom: 50%;
                }
                max-width: fit-content;
            }

            div.flexrow {
                margin-right: 4px;
            };

            div {
                flex-wrap: nowrap;
                align-items: center;
            };
            
            input.data-entry {
                font-variant-caps: small-caps;
            };

        };

        .item-card-desc {
            height: 100%;
            padding: 4px 10px;
            border-radius: 0px 0px 10px 10px;

            .editor {
                height: 100%;
            };

            label:last-of-type {
                margin-top: 4px;
            };

            .mod-card {
                border-radius: 10px;
                max-width: 150px;
                min-width: 150px;
                height: 70px;
                margin: 4px;
                padding: 4px;

                input[type="number"] {
                    max-width: 40px;
                    min-width: 40px;
                    text-align: center;
                }
            };
        };
    };
};