.age-system.sheet .window-content {
    // background: none;
    background-color: #d1b7ab;
}

.age-system.sheet.spaceship {
    input,
    select {
        border: none;
    }

    ul.systems-list {
        text-align: center;
        li {
            .system-roll {
                flex: 0 0 16px;
            };
            .system-role {
                flex: 0 0 100px;
                max-width: 100px;
            };
            .system-operator {
                // font-size: 1vw;
                flex: 0 0 150px;
                max-width: 150px;
            };
            .system-abl {
                flex: 0 0 150px;
            };
            .system-focus {
                flex: 0 0 200px;
            }
        }
    }

    .container {
        width: fit-content;
    }
    
    ul.passenger-list {
        max-width: 300px;
        li {
            .passenger-token {
                flex: 0 0 25px;
            }
            .passenger-damage-control {
                flex: 0 0 25px;
            }
            .passenger-name {
                flex: 0 0 150px;
            }
            .passenger-remove {
                flex: 0 0 25 px;
            }
        }
    }

    div.parameters.container {
        text-align: center;

        .parameter-label{
            flex: 0 0 50px;
        }
        .hull-dice-qtd {
            flex: 0 0 35px;
        }
        .hull-dice-type {
            flex: 0 0 40px;
        }
        .hull-plus-sign {
            flex: 0 0 16px;
        }
        .hull-extra-damage {
            flex: 0 0 35px;
        }
        .ship-size {
            flex: 0 0 126px;
        }
    }

    .crew-details {
        padding: 0;
    }
}