{{!-- Active Bonuses --}}
{{#if data.hasModificators}}
<div class="flexrol flex-align-center item-card-stats active-mod-container">
    <hr>
    <div class="flexrow" style="flex-wrap: wrap;">
        {{#each data.itemMods as |item|}}
        {{#if item.isActive}}
            <div class="flexcol modbox">
                <label>{{localize (concat "age-system.bonus." @key)}}</label>
                <span>{{item.value}}</span>
            </div>
        {{/if}}
        {{/each}}
    </div>
</div>
{{/if}}