<div class="flexrow item-card-stats">
    {{!-- Active Bonuses --}}
    {{#each data.itemMods as |item|}}
    {{#if item.isActive}}
        <div class="flexcol">
            <label>{{localize (concat "age-system.bonus." @key)}}</label>
            <span>{{item.value}}</span>
        </div>
    {{/if}}
    {{/each}}
</div>