{{!-- Sheet Tab Navigation --}}
<nav class="add-sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="main">{{localize "age-system.item.desc"}}</a>
    <a class="item" data-tab="bonus">{{localize "age-system.itemMod"}}</a>
    {{#if hasOptionsTab}}
    <a class="item" data-tab="options">{{localize "age-system.charOptions"}}</a>
    {{/if}}
</nav>

<section class="sheet-tab-section">
    {{!-- Main Tab --}}
    <div class="item-card-desc tab main" data-group="primary" data-tab="main">
        {{editor data.system.longDesc target="system.longDesc" button=true owner=owner editable=true}}
    </div>

    {{!-- Bonuses Tab --}}
    <div class="item-card-desc tab bonus" data-group="primary" data-tab="bonus">
        {{> "systems/age-system/templates/partials/bonuses-sheet.hbs"}}
    </div>

    {{#if hasOptionsTab}}
    {{!-- Options Tab --}}
    <div class="item-card-desc tab options" data-group="primary" data-tab="options">
        {{> "systems/age-system/templates/partials/item-options-sheet.hbs"}}
    </div>
    {{/if}}
</section>