{{!-- Sheet Tab Navigation --}}

<nav class="add-sheet-tabs tabs general-aid-bar flexrow colorset-third-tier" data-group="primary">
    <a class="char" data-tab="main">{{localize "age-system.charMain"}}</a>
    <a class="char" data-tab="persona">{{localize "age-system.charPersona"}}</a>
    <a class="char" data-tab="effects">{{localize "age-system.charEffects"}}</a>
</nav>

<section class="sheet-tab-section">

    {{!-- Main Tab --}}
    <div class="tab main" data-group="primary" data-tab="main">
        {{> "systems/age-system/templates/partials/char-sheet-tab-main.hbs"}}
    </div>

    {{!-- Persona Tab --}}
    <div class="tab persona" data-group="primary" data-tab="persona">
        {{> "systems/age-system/templates/partials/char-sheet-tab-persona.hbs"}}
    </div>

    {{!-- Effects Tab --}}
    <div class="tab effects" data-group="primary" data-tab="effects">
        {{> "systems/age-system/templates/partials/char-sheet-tab-effects.hbs"}}
    </div>

</section>