{{!-- Talents Tab --}}
<section class="equip-section">

    {{!-- Talents --}}
    <ul class="talents resource item-group">
        <li class="title colorset-first-tier">
            {{localize "age-system.talentContainer"}}
        </li>
        {{#each data.talent as |item|}}
        {{> "systems/age-system/templates/partials/itemcontrols/talent.hbs" item=this config=../data.config}}
        {{#unless @last}}
        <hr>
        {{/unless}}
        {{/each}}
    </ul>

</section>