{{!-- Stunts Tab --}}
<section class="options-section">    

    <ul class="resource item-group">
        <li class="title colorset-first-tier">
            {{localize "SETTINGS.weaponGroups"}}
        </li>
        <li class="colorset-third-tier flexrow">
            <p>
                {{#each data.weaponGroups as |wgroup|}}
                <a class="feature-controls select-options item-name wgroup-item item-box {{#if (haswgroup wgroup ../actor.data.data.wgroups)}}colorset-first-tier{{else}}colorset-third-tier{{/if}}" data-wgroup-id="{{wgroup}}">
                    {{wgroup}}
                </a>
                {{/each}}
            </p>
        </li>
    </ul>

</section>