{{#if (or (eq config.wealthMode 'currency') (eq config.wealthMode 'coins'))}}
<label class="colorset-first-tier">{{localize "age-system.item.cost"}}</label>
{{else}}
<label class="colorset-first-tier">{{localize "age-system.item.purchaseTN"}}</label>
{{/if}}
<input type="text" {{#if inChat}}disabled{{/if}} name="data.cost" value="{{data.data.cost}}" data-dtype="String" />