{{#when config.wealthMode 'noteq' 'currency'}}
<label>{{localize "age-system.item.purchaseTN"}}</label>
{{/when}}
{{#when config.wealthMode 'eq' 'currency'}}
<label>{{localize "age-system.item.cost"}}</label>
{{/when}}
<input type="text" {{#if inChat}}disabled{{/if}} name="data.cost" value="{{data.cost}}" data-dtype="String" />