<form>
    <div class="form-group">
        <label>{{localize "age-system.setAgeRollMod"}}</label>
        <input type="number" name="ageRollMod"/>
    </div>
    <div class="form-group">
        <label>{{localize "age-system.setAgeRollAtkDmgTradeOff"}}</label>
        <input type="number" name="atkDmgTradeOff"/>
    </div>
    <div class="form-group">
        <label>{{localize "age-system.setAgeRollTN"}}</label>
        <input type="number" name="rollTN" value=""/>
    </div>
</form>