<form>
    <div class="form-group">
        <label>{{localize "age-system.setRollExtraDice"}}</label>
        <input type="number" name="extraDice" value="0"/>
    </div>
    <div class="form-group">
        <label>{{localize "age-system.setRollGeneralMod"}}</label>
        <input type="number" name="generalMod"/>
    </div>
</form>