<form class="age-system damage-summary-card">
	<div class="flexrow">
		<img src="{{img}}" alt="{{name}}">
		<div class="flexcol justity-content-center">
			<p class="strong">{{name}}</p>
			<button type="button" class="roll-toughness-test">
                {{localize "age-system.toughnessTest"}}
            </button>
		</div>
	</div>
</form>