<form class="{{cssClass}} colorset-{{colorset}}" autocomplete="off">
    <div class="flexcol" id="age-tracker">
        {{#if (or hasSerendipity (and isGM hasComplication))}}
        <div id="age-tracker-drag"></div>
        {{/if}}
        {{!-- Serendipity Tracker --}}
        {{#if hasSerendipity}}
        <div class="age-serendipity colorset-second-tier flexrow">
            {{#if isGM}}
            <a class="ser-mod minus"><i class="fa fa-minus" aria-hidden="true"></i></a>
            {{/if}}
            {{#each serDie as |die|}}
            <div class="die">
                <div class="{{#if die.inactive}}inactive{{/if}}">
                    {{#if (lte die.value 1)}}
                    <i class="fas fa-dice-one fa-2x"></i>
                    {{/if}} {{#if (eq die.value 2)}}
                    <i class="fas fa-dice-two fa-2x"></i>
                    {{/if}} {{#if (eq die.value 3)}}
                    <i class="fas fa-dice-three fa-2x"></i>
                    {{/if}} {{#if (eq die.value 4)}}
                    <i class="fas fa-dice-four fa-2x"></i>
                    {{/if}} {{#if (eq die.value 5)}}
                    <i class="fas fa-dice-five fa-2x"></i>
                    {{/if}} {{#if (eq die.value 6)}}
                    <i class="active-dice fas fa-dice-six fa-2x"></i>
                    {{/if}}
                </div>
            </div>
            {{/each}}
            {{#if isGM}}
            <a class="ser-mod"><i class="fa fa-plus" aria-hidden="true"></i></a>
            {{/if}}
        </div>
        {{/if}}

        {{!-- Complication/Churn Tracker --}}
        {{#if isGM}}
        {{#if hasComplication}}
        <div class="age-comp flexrow flex-align-center colorset-second-tier">
            <a class="comp-mod refresh"><i class="fa fa-reply"></i></a>
            {{#each compData.tracker as |v k|}}
            <div class="comp-checkbox {{#if v.check}}full-box{{/if}} {{#if (and v.milestone k)}}milestone{{/if}}" data-box-number="{{k}}"></div>
            {{/each}}
            <a class="comp-mod minus"><i class="fa fa-minus"></i></a>
            <a class="comp-mod"><i class="fa fa-plus"></i></a>
        </div>
        {{/if}}
        {{/if}}
    </div>
</form>