<form class="{{cssClass}}" autocomplete="off">
    <div class="colorset-{{colorset}}" id="age-tracker">
        {{!-- Serendipity Tracker --}}
        {{#if hasSerendipity}}
        <div class="age-serendipity colorset-second-tier flexrow">
            {{#if isGM}}
            <a class="mod minus" data-chg-qtd="1" data-op="minus"><i class="fa fa-minus" aria-hidden="true"></i></a>
            {{/if}}
            {{#each serDie as |die|}}
            <div class="die">
                <div class="{{#if die.inactive}}inactive{{/if}}">
                    {{#if (lte die.value 1)}}
                    <i class="fas fa-dice-one fa-2x"></i>
                    {{/if}} {{#if (eq die.value 2)}}
                    <i class="fas fa-dice-two fa-2x"></i>
                    {{/if}} {{#if (eq die.value 3)}}
                    <i class="fas fa-dice-three fa-2x"></i>
                    {{/if}} {{#if (eq die.value 4)}}
                    <i class="fas fa-dice-four fa-2x"></i>
                    {{/if}} {{#if (eq die.value 5)}}
                    <i class="fas fa-dice-five fa-2x"></i>
                    {{/if}} {{#if (eq die.value 6)}}
                    <i class="active-dice fas fa-dice-six fa-2x"></i>
                    {{/if}}
                </div>
            </div>
            {{/each}}
            {{#if isGM}}
            <a class="mod" data-chg-qtd="1" data-op="plus"><i class="fa fa-plus" aria-hidden="true"></i></a>
            {{/if}}
        </div>
        {{/if}}

        {{!-- Complication/Churn Tracker --}}
        {{#if hasComplication}}
        
        {{/if}}
    </div>
</form>